
<div xmlns:th="http://www.thymeleaf.org" class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"> <a href="/board">Дошки</a> </li>
                <li role="presentation" class="active"><a href="/login">Вхід</a></li>
                <li role="presentation"><a href="/reg"> Реєстрація </a></li>

            </ul>
        </nav>
        <h4 class="text-muted" ><img class="global-header-section-logo" alt="Brand" src="/css/brand.svg"/></h4>
    </div>
</div>
